{% extends 'base.html' %}

{% load static %}
{% block title %} | Product details{% endblock %}
{% block content %}
<!-- Home -->

<div class="home">
  <div
    class="parallax_background parallax-window"
    data-parallax="scroll"
    data-image-src="{% static 'images/product_background.jpg' %}"
    data-speed="0.8"
  ></div>
  <div class="home_container">
    <div class="home_content">
      <div class="home_title">Shop</div>
      <div class="breadcrumbs">
        <ul class="d-flex flex-row align-items-center justify-content-start">
          <li><a href="{% url 'index' %}">Home</a></li>
          {% comment %} <li><a href="{% url 'single_product' %}">Woman</a></li>
          <li><a href="{% url 'single_product' %}">Accessories</a></li> {% endcomment %}
          <li>Shoulder Bag</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Products -->

<div class="product">
  <!-- Product Content -->
  <div class="section_container">
    
    <div class="container">
      <div class="row">
        <div class="col">
          {% include 'parts/alerts.html' %}
          <div class="product_content_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
            <div class="product_content order-lg-1 order-2">
              <div class="product_content_inner">
                <div class="product_image_row d-flex flex-md-row flex-column align-items-md-end align-items-start justify-content-start">
                  <div class="product_image_1 product_image">
                    {% if product_id.image1 %}
                    <a href="{{ product_id.productimage.url }}"><img src="{{ product_id.productimage.url }}" alt=""></a>
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="">
                    {% endif %}
                  </div>
                  <div class="product_image_2 product_image">
                    {% if product_id.image2 %}
                    <a href="{{ product_id.image2.url }}"><img src="{{ product_id.image2.url }}" alt=""></a>
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="">
                    {% endif %}
                  </div>
                </div>
                <div class="product_image_row">
                  <div class="product_image_3 product_image">
                    {% if product_id.image3 %}
                    <a href="{{ product_id.image3.url }}"><img src="{{ product_id.image3.url }}" alt=""></a>
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="">
                    {% endif %}
                  </div>
                </div>
                <div class="product_image_row d-flex flex-md-row flex-column align-items-start justify-content-start">
                  <div class="product_image_4 product_image">
                    {% if product_id.image4 %}
                    <a href="{{ product_id.image1.url }}"><img src="{{ product_id.image4.url }}" alt=""></a>
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="">
                    {% endif %}
                  </div>
                  <div class="product_image_5 product_image">
                    {% if product_id.image5 %}
                    <a href="{{ product_id.image1.url }}"><img src="{{ product_id.image5.url }}" alt=""></a>
                    {% else %}
                    <img src="{% static 'images/default.jpg' %}" alt="">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="product_sidebar order-lg-2 order-1">

              <form method='GET' action="{% url 'add_to_cart' %}" id="product_form" class="product_form">
                {% comment %} {% csrf_token %} {% endcomment %}
                <div class="product_name">{{ product_id.title }}</div>
                <div class="product_price">${{ product_id.price }}</div>
                <div class="product_color">Color: <span>{{ product_id.colors }}</span></div>
                <div class="product_size">
                  <div class="product_size_title">Size: <span>{{ product_id.sizes }}</span></div>
                  <div class="product_size_list">
                    <ul>
                      <li class="size_available">
                        <input type="radio" id="radio_1" name="product_radio" class="regular_radio radio_1" />
                      </li>
                    </ul>
                  </div>
                </div>
                <button type='button' class="cart_button trans_200" data-toggle="modal" data-target="#exampleModal">add to cart</button>

                <!-- Model To PopUP Quantity -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Quantity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <label for="quantity">Quantity (between 1 and 50):</label>
                        <input type="number" id="quantity" name="quantity" min="1" max="50" value="1" required></input>
                        <input type="hidden" name="pro_id" value={{ product_id.id }}></input>
                        <input type="hidden" name="price" value={{ product_id.price }}></input>
                      </div>
                      <div class="modal-footer">
                        <button id="btnclose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-warning" onclick="addtocart()">Confirm</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Model To Select Quantity --> 

                <div class="addto-fav"><a href={% url 'add_favorite' product_id.id %}><i class="fa fa-star"></i></a></div>
                <div class="similar_products_button trans_200"><a href="{% url 'products' %}">see similar products</a></div>
              </form>
              <div class="product_links">
                <ul class="text-center">
                  <li><a href="#">See guide</a></li>
                  <li><a href="#">Shipping</a></li>
                  <li><a href="#">Returns</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function addtocart() {
    document.getElementByID('btnclose').click();
    document.getElementByID('product_form').submit();
  };
</script>
{% endblock %}
