{% load static %}

<!-- Header -->

<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-start">
    <!-- Hamburger -->
    <div class="hamburger menu_mm"><i class="fa fa-bars menu_mm" aria-hidden="true"></i></div>

    <!-- Logo -->
    <div class="header_logo">
      <a href="{% url 'index' %}"
        ><div>a<span>star</span></div></a
      >
    </div>
    {% if request.user.is_authenticated %}
    <span class="text-light" style="display: inline-block;width: 100%;margin: 5px 0;font-size: 20px;text-align:center;">
      Welcome, {{ request.user.username }}
    </span>
    {% endif %}
    <!-- Navigation -->
    <nav class="header_nav">
      <ul class="d-flex flex-row align-items-center justify-content-start">
        <li><a href="{% url 'index' %}">home</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'blog' %}">blog</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'favorites' %}">Favorites Products</a></li>
        <li><a href="{% url 'cart' %}">My Cart</a></li>
        <li><a href="{% url 'show_orders' %}">My Orders</a></li>
        <li><a href="{% url 'logout' %}">LogOut</a></li>
        {% else %}
        <li><a href="{% url 'signin' %}">SignIn</a></li>
        <li><a href="{% url 'signup' %}">SignUp</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- Header Extra -->
    <div class="header_extra ml-auto d-flex flex-row align-items-center justify-content-start">
      <!-- Language -->
      <div class="info_languages has_children">
        <div class="language_flag"><img src="{% static 'images/flag_1.svg' %}" alt="https://www.flaticon.com/authors/freepik" /></div>
        <div class="dropdown_text">english</div>
        <div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>

        <!-- Language Dropdown Menu -->
        <ul>
          <li>
            <a href="#">
              <div class="language_flag"><img src="{% static 'images/flag_2.svg' %}" alt="https://www.flaticon.com/authors/freepik" /></div>
              <div class="dropdown_text">french</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="language_flag"><img src="{% static 'images/flag_3.svg' %}" alt="https://www.flaticon.com/authors/freepik" /></div>
              <div class="dropdown_text">japanese</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="language_flag"><img src="{% static 'images/flag_4.svg' %}" alt="https://www.flaticon.com/authors/freepik" /></div>
              <div class="dropdown_text">russian</div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="language_flag"><img src="{% static 'images/flag_5.svg' %}" alt="https://www.flaticon.com/authors/freepik" /></div>
              <div class="dropdown_text">spanish</div>
            </a>
          </li>
        </ul>
      </div>

      <!-- Currency -->
      <div class="info_currencies has_children">
        <div class="dropdown_text">usd</div>
        <div class="dropdown_arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></div>

        <!-- Currencies Dropdown Menu -->
        <ul>
          <li>
            <a href="#"><div class="dropdown_text">EUR</div></a>
          </li>
          <li>
            <a href="#"><div class="dropdown_text">YEN</div></a>
          </li>
          <li>
            <a href="#"><div class="dropdown_text">GBP</div></a>
          </li>
          <li>
            <a href="#"><div class="dropdown_text">CAD</div></a>
          </li>
        </ul>
      </div>

      <!-- Cart -->
      <div class="cart d-flex flex-row align-items-center justify-content-start">
        <div class="cart_icon">
          <a href="{% url 'cart' %}">
            <img src="{% static 'images/bag.png' %}" alt="" />
            <div class="cart_num">{{ orderdetails.count }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
